<h1>The Better Mike Project</h1>
<h1><small>Writing to a better Me. Each Day.</small></h1>
<h2>About Mike</h2>
<p>Hi! I'm Mike, a liberal arts graduate, agricultural and environmental advocate,
    and all around easy-going dude. I love music, and I particularly enjoy the opportunity
    to jam with other musicians when I have the opportunity. I have (what I've coined as) 
    hobby ADHD. I love to learn. I could spend hours watching youtube videos on blacksmithing
    or archery. I love the outdoors. Camping in tents is the best. Hiking with gear on my
    back makes me smile.
</p>
<p>But what I'm passionate about is land. I love to garden. Growing stuff in my own garden
    gives me a sense of connection to our earth that nothing else does. A good friend of 
    mine once referenced me to the works of Wendell Berry. His writings were like a tender,
    delicious steak; his ideas like a refreshing glass of lemonade. As I poured over the
    books I had purchased, something inside me sparked. I have found my passion. I have 
    found my life's pursuit of happiness. I want to become a steward of the land. I want
    to feed my family food that not only fills them, but makes them happy. And I want to
    show others around me how this is possible. 
</p>
<p>Hi! I'm Mike, a liberal arts graduate, agricultural and environmental advocate,
    and all around easy-going dude. I love music, and I particularly enjoy the opportunity
    to jam with other musicians when I have the opportunity. I have (what I've coined as) 
    hobby ADHD. I love to learn. I could spend hours watching youtube videos on blacksmithing
    or archery. I love the outdoors. Camping in tents is the best. Hiking with gear on my
    back makes me smile.
</p>
<p>But what I'm passionate about is land. I love to garden. Growing stuff in my own garden
    gives me a sense of connection to our earth that nothing else does. A good friend of 
    mine once referenced me to the works of Wendell Berry. His writings were like a tender,
    delicious steak; his ideas like a refreshing glass of lemonade. As I poured over the
    books I had purchased, something inside me sparked. I have found my passion. I have 
    found my life's pursuit of happiness. I want to become a steward of the land. I want
    to feed my family food that not only fills them, but makes them happy. And I want to
    show others around me how this is possible. 
</p>
